#root {
  margin: 0 auto;
}

.section-spacing {
  padding: 2rem;
}

.container-width {
  width: 29.375rem;
  margin-left: auto;
  margin-right: auto;
}

/** Card Container Styling **/
.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
